.header {
    padding: 5px 5px;
    background-color: rgb(14, 13, 95);
    color: #f1f1f1;
  }
  
  
.homeContainer{
    width: 85%;
    max-width: 1920px;
    margin: 15px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    
}

.homeContainer > div {
    display: block;
    padding: 20px;
    color: white;
    text-align: center;
}



.homeContainer .profile {
    background: rgb(176, 207, 233);
    grid-column: 1;
    grid-row: span 2;
}

.homeContainer .post {
    background: rgb(43, 99, 145);
    grid-column: span 3;
}

.homeContainer .wall {
    background: rgb(176, 207, 233);
    grid-column-start: 2;
    grid-column-end: -1;
}

@media screen and (max-width: 768px) {
    .homeContainer .post {
        grid-column: 1 / -1;
    }

    .homeContainer .wall {
        grid-column: 1 / -1;
    }

    .homeContainer .profile {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 540px) {
    .homeContainer .post {
        grid-column: 1 / -1;
    }

    .homeContainer .wall {
        grid-column: 1 / -1;
    }

    .homeContainer .profile {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 375px) {
    .homeContainer .post {
        grid-column: 1 / -1;
    }

    .homeContainer .wall {
        grid-column: 1 / -1;
    }

    .homeContainer .profile {
        grid-column: 1 / -1;
    }

    .header {
        display: none;
    }
}

.fa-sign-out-alt {
  position: absolute;
  right: 0px;
  width: 100px;
  top: 30px;
  padding: 10px;
  cursor: pointer;
}

.post-author {
    text-transform: capitalize;
}

.btn-cancel-post {
    display: inline;
}

.btn-save-post {
    display: inline;
}

.text-area {
    width: 100%;
}

.fa-heart {
    color: rgb(146, 146, 146);
    cursor: pointer;
    font-size: 15px;
}
     
.like-icon-liked {
    color:red;
    cursor: pointer;
}