.header {
    padding: 10px 16px;
    background-color: rgb(14, 13, 95);
    color: #f1f1f1;
  }
  
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
.sticky + .content {
    padding-top: 102px;
} */
  
.homeContainer{
    width: 95%;
    max-width: 1920px;
    margin: 15px auto;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.homeContainer > div {
    display: block;
    padding: 20px;
    color: white;
    text-align: center;
}

.homeContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "profile post post post"
                         "profile post post post"
                         "profile wall wall wall"
                         "profile wall wall wall";
    
}
.homeContainer .profile {
    background: rgb(176, 207, 233);
    grid-column: profile;
    grid-row: profile;
    border-radius: 24px;
}

.homeContainer .post {
    background: rgb(176, 207, 233);
    grid-column: post;
    grid-row: post;
    border-radius: 24px;
}

.homeContainer .wall {
    background: rgb(176, 207, 233);
    grid-column: wall;
    grid-row: wall;
    border-radius: 24px;
}

