.imagesContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 100%;
  max-width: 1920px;
  position: fixed;
  margin: 5px;
  overflow-y: hidden;
}

@media (max-width: 1200px) {
  .imagesContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 992px) {
  .imagesContainer {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 768px) {
  .imagesContainer {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 540px) {
  .imagesContainer {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}


  body {
    font-family: 'Nunito', sans-serif;
  }
    
    /* Modal Login  */
    
   input[type=text], input[type=password], input[type=email]{
        border-color: #ddd;
        border-style: solid;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        padding: 7px;
        margin: 10px 0;
    } 

   #loginButton {
      background-color: rgb(14, 13, 95);
      font-family: 'Nunito', sans-serif;
      font-size: medium;
      color: rgb(255, 255, 255);
      padding: 12px 20px;
      margin: 6px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 24px;
    }

   #signUpButton {
    background-color: #EFEFEF;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 24px;
  }
    
  #loginButton:hover {
    background-color: rgb(32, 30, 160);
  } 
  
  #signUpButton:hover {
    background-color:  rgb(199, 198, 198); 
} 
    
    
    #closeModalSignUp,
    #closeModalLogin{
        display: block;
        text-align: right;
        margin: 0px 0 5px 0;
        position: relative;
    }

    #logotipo{
      text-align: center;
      margin: auto;
    }

    .registerContainer {
      display: block;
      position: absolute;
      padding: 50px;
      width: 35%;
      background-color: #fefefee3;
      border-radius: 24px;   
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      min-width: 300px;
    }

     h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: rgb(0, 0, 0);
      }

      .parrafo {
      font-family: 'Nunito', sans-serif;
      text-align: center;
      color: rgb(0, 0, 0);
    }
    
    /* span.password{
        float: right;
        padding-top: 16px;  
    }  */
    
     
    .close {
        position: absolute;
        color: #000;
        font-size: 30px;
        font-weight: bold; 
    } 
    
    .close:hover,
    .close:focus {
        color: blue;
        cursor: pointer;
    }

    #submitLogin, #signUpSubmit {
    background-color: rgb(14, 13, 95);
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 24px;
    
   }

   #submitLogin:hover {
    background-color: rgb(32, 30, 160);
  }  

    #facebookSignUp {
      display: inline-block;
      background-color: rgb(17, 14, 207);
      font-family: 'Nunito', sans-serif;
      font-size: medium;
      color: rgb(255, 255, 255);
      padding: 12px 20px;
      margin: 6px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 24px;
      font-weight: bold;
    }

    #facebookSignUp:hover {
      background-color: rgb(49, 46, 212);
    } 

    #googleSignUp{
      display: inline-block;
      background-color: rgb(209, 25, 25);
      font-family: 'Nunito', sans-serif;
      font-size: medium;
      color: rgb(255, 255, 255);
      padding: 12px 20px;
      margin: 6px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 24px;
      font-weight: bold;
    }

    #googleSignUp:hover {
      background-color:  rgb(221, 61, 61); 
    }

    @media screen and (max-width: 300px){
      span.password{
          display: block;
          float: none;
      }
  
  }




